<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">

  <display-name>movie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>BoxOfficeList</servlet-name>
    <servlet-class>movie.BoxOfficeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoxOfficeList</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DBConncet</servlet-name>
    <servlet-class>movie.DBConnect</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>BoxOffice</servlet-name>
    <servlet-class>movie.BoxOffice</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>movie.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>movie.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>booking</servlet-name>
    <servlet-class>movie.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booking</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>  

    <servlet>
    <servlet-name>reservation</servlet-name>
    <servlet-class>movie.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
    
    <servlet>
    <servlet-name>sitList</servlet-name>
    <servlet-class>movie.ReservationSitList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sitList</servlet-name>
    <url-pattern>/sitList</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>bookingTime</servlet-name>
    <servlet-class>movie.BookingTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingTime</servlet-name>
    <url-pattern>/bookingTime</url-pattern>
  </servlet-mapping>    
  
   <servlet>
    <servlet-name>mypage</servlet-name>
    <servlet-class>movie.Mypage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypage</servlet-name>
    <url-pattern>/mypage</url-pattern>
  </servlet-mapping> 

   <servlet>
    <servlet-name>deleteReservation </servlet-name>
    <servlet-class>movie.DeleteReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteReservation </servlet-name>
    <url-pattern>/deleteReservation </url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Review </servlet-name>
    <servlet-class>movie.YoutubeReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review </servlet-name>
    <url-pattern>/review </url-pattern>
  </servlet-mapping>
    
</web-app>