.moviePoster {
  float: left;
  margin-top: 50px;
}

.bgImg {
	width: 520px;
    height: 210px;
    background-image: url(../img/movieTicket.png);
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: 527px 241px;
    box-shadow: 8px 10px 6px 0px #424242e0;
    background-position-x: -3px;
    background-position-y: -16px;
    transform: rotateX(32deg);
    border-radius: 20px;
    font-size: 14px;
}

.movieTitle {
	display: flex;
    padding-top: 112px;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

.roomAndSit {
	float: left;
    margin-top: 19px;
    margin-left: 57px;
}

.startTime {
  float: left;
}

.adultAge {
  float: left;
}

.dateMovieTime {
	margin-top: 19px;
    margin-left: 268px;
}

.adultAge {
	margin-top: 17px;
    margin-left: 55px;
}

.price {
	margin-top: 17px;
    margin-left: 269px;
}
