html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
	color: white;
}

body{
    margin: 0;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    overflow-x: hidden;
}

.hiddenY{
    overflow-y: hidden;
}

.body-wrapper{
    
}

.username{
	margin-right: 3px;
    color: #ffd1d1;
}


.header{
    display: flex;
    padding-left: 14vw;
    padding-right: 14vw;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: -webkit-fill-available;
}

.header-left{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-center{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.header-right{
    width:40%;
}


.header-left-up{
    display: flex;
    color: #e9eef2;
    font-weight: bold;
}

.header-left-up .item{
    margin: 10px;
}

.header-left-down {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 100%;
    color: white;
    margin-top: 38px;
}

.more-search{
    display: flex;
    margin-right: 70px;
}

.more{
    width: 25px;
    resize: both;
    height: 25px;
    object-fit: none;
    margin-right: 10px;
}

.search{
    width: 25px;
    resize: both;
    height: 25px;
    object-fit: contain;
}

.header-left-down .item{
    margin-right: 10px;
    color:white;
}

.item-wrapper{
    display:flex;
}

.header-right-up{
    display: flex;
    justify-content: flex-end;
    color: #e9eef2;
    font-weight: bold;
}

.header-right-up a{
    color: #e9eef2;
}

.header-right-up .item{
	margin: 10px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    
}

.header-right-down{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    color: white;
}

.header-right-down .item{
    margin-right: 10px;
    cursor:pointer;
    color: white;
}

.cal-login{
    display: flex;
}

.cal{
    margin-right: 10px;
    width: 25px;
    resize: both;
    height: 25px;
    object-fit: none;
}

.login{
    width: 25px;
    resize: both;
    height: 25px;
    object-fit: contain;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000b0;
    padding-left: 14vw;
    padding-right: 14vw;
    flex-direction: column;
}

.card{
	position:relative;
    width: 200px;
    height: 335px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card .img{
    resize: both;
    width: 100%;
    height: 85%;
    border-radius: 10px;
	box-shadow: 1px 1px 8px 1px #00000087;
}


.card-info-wrapper{
    display: flex;
}

.filter{
	position: absolute;
    width: 100%;
    height: 85%;
    z-index: 1;
    top: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
    background-color: #00000078;
    border-radius: 10px;
}

.youtube-review-btn{
	cursor:pointer;
}

.naver-review-btn{
	cursor:pointer;
}

.vidio-wrapper{
	position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #00000052;
    display: none;
    flex-direction:column;
}

.vidio{
	width: 1195px;
    height: 621px;
    resize: both;
}

.vidio-wrapper .vidio-close{
	width: 1195px;
    text-align: right;
    margin-bottom: 10px;
    color: white;
    font-size: 28px;
    padding-right: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    opacity: .5;
    cursor:pointer;
}

.vidio-show{
	display:flex;
}

.like{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 3px;
    width: 30%;
    background-color: pink;
    height: 35px;
}

.reservation{
    width: 69%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    cursor:pointer;
}

.bg-img{
    resize: both;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
}

.card-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.content-menu-wrapper{
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    height: 65px;
    border-radius: 15px;
}

.content-menu-wrapper a{
    color:white;
}

.movie-search-index{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: 1px solid;
}

.movie-search{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: 1px solid;
}

.movie-cal{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: 1px solid;

}

.box-office{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}



.movie-search-input{
    background: none;
    border-style: none;
    padding-left: 10px;
}

.ms-wrapper{
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-menu-wrapper img{
    margin-right:10px;
    resize: both;
    object-fit: none;
    width: 25px;
    height: 25px;
}

.main-slider{
    width: 400vw;
    height: 100vh;
    
}

.slider{
    width: 400vw;
    height: 100vh;
    display: flex;
    animation: slider 20s ease-in-out infinite;
    position: absolute;
    z-index: -1;
}

@keyframes slider{
    0%{left: 0;}
    16.5%{left: 0;}
    33%{left:-100vw;}
    49.5%{left:-100vw;}
    66%{left:-200vw;}
    82.5%{left:-200vw;}
    99%{left:-300vw;}
}

.main-slider-img{
    resize: both;
    width: 100vw;
    height: 100vh;
}

.login-form{
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #000000bf;
    display: none;
    z-index: -9999;
}

.select{
    display: flex;
    z-index: 9999;
    top:0;
}

.login-wrapper{

}

.login-header{
    display: flex;
    padding-right: 35px;
    padding-left: 10px;
    justify-content: space-between;
    background-color: #c175c1eb;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    color: white;
}

.login-header .login-close{
    cursor: pointer;
}

.login-content{
    display: flex;
    width: 40vw;
    height: 40vh;
    background: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.login-left{
    margin-right: 15px;
    width: 50%;
}

.login-input-wrapper{
    display: flex;
    flex-direction: column;
}

.login-id{
    margin-bottom: 10px;
    height: 25px;
    padding-left: 10px;
}

.login-pw{
    margin-bottom: 10px;
    height: 25px;
    padding-left: 10px;
}

.login-submit{
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    background-color: darkgray;
    font-size: 12px;
    color: black;
    cursor: pointer;
}

.login-submit:hover{
    background-color: rosybrown;
    transition: all 0.3s linear;
}

.login-more-item{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-more-item:nth-child(1){
    border-right: 1px solid #0000004d;
}

.login-more-info{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
    font-size: 12px;
}

.login-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.header-not-fixed{
    position: unset;
}

.booking-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-main{
    display: flex;
    justify-content: center;
}

.booking-main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-top: 1px solid;
}

.booking-nav-label{
    color: #0000007d;
    font-size: 14px;
    font-weight: bold;
}

.booking-title{
	font-size: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    width: 855px;
}

.booking-count{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.booking-count .adult{
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-count .teenage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-count .label{
    margin-right: 10px;
    font-size: 13px;
    color: #1d1d1d;
    font-weight: bold;
}

.booking-count .btn-wrapper{
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.btn-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

.btn-wrapper .m-btn{
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
}

.btn-wrapper .c-btn{
    border-right: 1px solid #e6e6e6;
}

.btn-wrapper .p-btn{
    cursor: pointer;
}

.booking-select{
    display: grid;
    grid-template-columns: repeat(22,1fr);
    grid-template-rows: repeat(14,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    font-size: 12px;
}

.booking-select div{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-select .screen{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 23;
    justify-content: center;
    align-items: center;
    display: flex;
    grid-row-gap: 50px;
    row-gap: 50px;
    grid-gap: 50px;
    font-size: 23px;
    width: 100%;
    height: 100%;
}

.booking-left{
    
}

.selected{
    transition: all 0.1s linear;
    background-color: mediumpurple;
    color: white;
    font-weight: bold;
}

.selected:hover{
    transition: all 0.1s linear;
    background-color: mediumpurple;
}


.booking-main .sit{
    border: 1px solid #0000ff3b;
    cursor: pointer;
} 

.booking-main .sit:hover{
    transform: scale(1.2);
    transition: all 0.1s linear;
    font-weight: bold;
} 

.booking-main .sit-line{
    border: 1px solid #00000052;
    background-color: #eaeaea94;
    cursor: default;
} 

.booking-right{
    width: 280px;
    background-color: #444;
    border-radius: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-info-title{
    color: white;
    height: 35px;
    width: 250px;
    border-bottom: 1px solid #686565;
    font-size: 13px;
    font-weight: bold;
}

.booking-info-more{
    width: 250px;
    margin-top: 10px;
    color: darkgrey;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #686565;
}

.info-detail{
    width: 55%;
}

.info-detail .movie-day{
	margin-top: 5px;
}

.info-detail .movie-time{
	margin-top: 5px;
}



.info-poster{
    display: flex;
    border: 1px solid;
    height: 100px;
    margin-left: 4%;
}

.booking-select-info{
    width: 250px;
    display: flex;
    color: darkgray;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid #686565;
    height: 200px;
}

.select-sit-wrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-info{
    width: 55%;
}


.select-info-wrapper{
    padding: 11%;
}

.select-sit{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.select-sit div{
    height: 30px;
    width: 30px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.select-sit-wrapper .title{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-result-wrapper{
    width: 250px;
    color: darkgray;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    
}

.booking-result-count{
    display: flex;
}

.booking-result-count .title{
    margin-right: 10px;
}

.booking-result-count .count{
    width: 20px;
    margin-right: 20px;
}


.booking-result{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
    align-items: center;
}

.booking-result .result{
    display: flex;
    justify-items: center;
    align-items: center;
}

.booking-result .title{
    color: white;
}

.booking-result span{
    color: skyblue;
    font-size: 2em;
    font-weight: bold;
    margin-right: 8px;
}

.booking-refresh{
    cursor: pointer;
    border: 1px solid mediumpurple;
    width: 60px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    height: 20px;
    align-items: center;
    font-weight: bold;
    background-color: #eff5fb;
    box-shadow: 0px 0px 6px 0px black;
    border-radius: 5px;
}

.boooking-select{
    display: flex;
    align-items: center;
}

.boooking-select span{
    width: 20px;
    height: 20px;
    border: 1px solid #0000ff3b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
    margin-right: 10px;
}

.boooking-complet{
    display: flex;
    margin-top:10px;
    align-items: center;
}

.boooking-complet span{
    width: 20px;
    height: 20px;
    border: 1px solid #0000ff3b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 10px;
}

.logo{
	resize: both;
    width: 120px;
    height: 65px;
    object-fit: cover;
}

.finish{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 40px;
    border: 1px solid #686565;
    box-shadow: inset 0px 0px 4px 1px white;
    background-color: #291d1f8c;
	color: ghostwhite;
    font-size: 13px;
    cursor:pointer;
}

.my-page-content {
  padding: 100px 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservation-title {
  font-size: 20px;
  font-weight: bold;
}

.reservation-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.reservation-item {
	display: flex;
    margin-top: 25px;
    height: 280px;
    align-items: center;
    box-shadow: 5px 15px 10px 0px #3a3a3a7a;
    padding: 0px 20px;
    border-radius: 35px;
    transform: rotate3d(1, 0, 0, 15deg);
}

.reservation-item:hover .reservation-poster {
  -webkit-filter: blur(3.7px);
}

.reservation-item:hover .reservation-ticket {
  -webkit-filter: blur(3.7px);
}

.reservation-item input[type="button"] {
  display: none;
  position: absolute;
  top: 120px;
  left: 40px;
}

.reservation-item:hover input[type="button"] {
  display: table-cell;
}

.reservation-item input[type="button"] {
  width: 120px;
  height: 40px;
  background-color: none;
  border: none;
  border-bottom: 0.5px solid black;
  box-shadow: 5px 15px 10px 0px #3a3a3a7a;
  color: black;
  font-size: 17px;
  filter: alpha(opacity = 80);
  opacity: 0.8;
}

.reservation-poster {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0px 0px 8px #000000b0;
    border-radius: 10px;
}

.reservation-ticket {
    width: 550px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bookingTime-content{
	padding: 100px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.bookingTime-title{
	font-size: 20px;
    font-weight: bold;
}

.bookingTime-wrapper{
	width: 1012px;
    display: flex;
    margin-top: 20px;
    height: fit-content;
}

.bookingTime-wrapper .movieList-wrapper{
	width: 200px;
    padding: 3px 10px;
    height: fit-content;
}

.bookingTime-wrapper .movieList-wrapper .title{
	font-size: 16px;
    font-weight: bold;
}

.bookingTime-wrapper .movieList-wrapper .movieList{
    margin-top: 15px;
    height: 400px;
    overflow-y: scroll;
}

.movieList .movieList-item{
	font-size: 13px;
    cursor: pointer;
    margin-bottom: 7px;
}


.movieList .back{
	color: #a9a9a9a3;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}

.movieTime-wrapper{
	width: 770px;
    padding: 10px 10px;
    border: 1px solid #4444;
}

.movieTime-wrapper .title{
	font-size: 16px;
    font-weight: bold;
}

.movieTime{
	overflow-y: scroll;
    height: 400px;
}

.movieTime .movieTime-item{
	display: flex;
    margin-top: 25px;
    box-shadow: 1px 1px 4px #00000042;
    cursor: pointer;
    padding: 10px;
}

.movieTime .movieTime-item .time{
	display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieTime .movieTime-item .time .start{
	font-size: 20px;
    color: black;
    font-weight: bold;
}

.movieTime .movieTime-item .time .end{
	color: darkgray;
    font-weight: bold;
    font-size: 12px;
}

.movieTime .movieTime-item .name {
	display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.movieTime .movieTime-item .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 14px;
    color: darkgray;
    font-weight: bold;
}

.movieTime .empty{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.review-wrapper{
	padding: 10px 215px 100px;
}

.review-wrapper .title{
	font-size: 24px;
    font-weight: bold;
}

.review-wrapper .sub-title{
	font-size: 14px;
    margin-top: 10px;
}

.review-content{
	display: flex;
    flex-wrap: wrap;
	margin-top:20px;
}

.vidioForm{
	width: 230px;
    height: fit-content;
    margin-right: 20px;
    margin-bottom: 40px;
}

.vidioForm .review-vidio{
	height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    cursor:pointer;
    position: relative;
}

.click-vidio{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.review-vidio-modal{
	top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000073;
    flex-direction: column;
}

.review-vidio-modal-show{
	display:flex;
	z-index: 1000;
}

.vidioForm .vidio-title{
	margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.review-vidio-modal .modal-vidio{
	width: 1195px;
    height: 621px;
    resize: both;
}

.review-vidio-modal .vidio-close{
	width: 1195px;
    text-align: right;
    margin-bottom: 10px;
    color: white;
    font-size: 28px;
    padding-right: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    opacity: .5;
    cursor:pointer;
}


.boxOffice-content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #0000001f;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

.boxOffice-content .card{
	margin-bottom:40px;
	transition : all 0.2s linear;
	opacity: 0;
}

.boxOffice-content .card-show{
	opacity: 1;
}

.boxOffice-content .card:hover{
	transform:scale(1.05);
}

.review-wrapper .boxOffice{
	font-size: 12px;
    font-weight: bold;
}

/* Arang */

/* 상단 바*/
.black-bar {
    display: flex;
    padding-top: 102px;

}

.black-bar-down {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f8fa;
    padding-left: 14vw;
    padding-right: 14vw;
}

.black-bar-down>p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.homeimg {
    width: 19px;
    height: 19px;
}

.black-bar-down>a {
    font-style: normal;
    color: black;
}

/* 중단 '전체영화'*/
.textBar {
    display: flex;
    font-size: 30px;
    padding-left: 14vw;
    padding-right: 14vw;
}

.all-movies {
    display: flex;
}

/* 하단 버튼 4개 탭 */
@media (max-width:1920px) {
    .movListButton {
        display: flex;
        margin-left: 14vw;
        margin-right: 14vw;
    }

    .movListButton ul {
        padding-inline-start: 0px;
    }

    .topMenu {
        display: flex;
        justify-content: flex-start;
        min-width: 1120px;
    }

    .topMenu li {
        display: flex;
        height: 41px;
        width: 18vw;
        min-width: 280px;
        max-width: 344px;
    }

    .topMenu li a {
        padding-top: 10px;
        text-decoration: none;
        color: black;
        font-size: 1.00667em;
        width: 100%;
        max-width: 344px;
        text-align: center;
        background-color: white;
    }

    .topMenu>li>a {
        list-style-type: none;
        border-top: 1px dotted #666;
        border-left: 1px dotted #666;
        border-right: 1px dotted #666;
        border-bottom: 1px solid #503396;
    }

    .topMenu>li>a:hover {
        color: #503396;
        border-top: 1px solid #503396;
        border-left: 1px solid #503396;
        border-right: 1px solid #503396;
        border-bottom: 1px solid white;
    }

    .topMenu>.on>a {
        color: #503396;
        border-top: 1px solid #503396;
        border-left: 1px solid #503396;
        border-right: 1px solid #503396;
        border-bottom: 1px solid white;
    }


    .searchBar {
        display: flex;
        padding-left: 14vw;
        padding-right: 14vw;
        margin-top: 40px;
        margin-bottom: 15px;
        min-width: 1120px;
        justify-content: space-between;
    }

    .searchBar p {
        margin-top: 0;
        margin-bottom: 0;
        height: 18px;
    }

    .searchBarIn {
        display: flex;
        background-color: lavenderblush;
        justify-content: flex-start;
    }

    .onair-condition .btn-onair {
        display: block;
        padding: 0 0 0 30px;
        background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-on-air.png) no-repeat 0 2px;
        box-shadow: none;
        border: none;
        justify-content: flex-start;
        float: left;
    }

    .flo {
        float: left;
        margin-left: 20px;
    }

    .onair-condition .btn-onair.on {
        background-position: 0 -17px;
    }

    .movie-search {
        height: 18px;
        display: flex;
        position: relative;
        align-items: flex-end;
        width: 220px;
        min-width: 220px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-right: 0px solid;
    }
}

@media (max-width:1608px) {
    .movListButton {
        display: flex;
        margin-left: 14vw;
        margin-right: 14vw;
    }

    .movListButton ul {
        padding-inline-start: 0px;
    }

    .topMenu {
        display: flex;
        justify-content: flex-start;
        min-width: 1157.78px;
    }

    .topMenu li {
        display: flex;
        height: 41px;
        width: 18vw;
        min-width: 289.44px;
        max-width: 344px;
    }

    .topMenu li a {
        padding-top: 10px;
        text-decoration: none;
        color: black;
        font-size: 1.00667em;
        width: 100%;
        max-width: 344px;
        text-align: center;
        background-color: white;
    }

    .topMenu>li>a {
        list-style-type: none;
        border-top: 1px dotted #666;
        border-left: 1px dotted #666;
        border-right: 1px dotted #666;
        border-bottom: 1px solid #503396;
    }

    .topMenu>li>a:hover {
        color: #503396;
        border-top: 1px solid #503396;
        border-left: 1px solid #503396;
        border-right: 1px solid #503396;
        border-bottom: 1px solid white;
    }

    .topMenu>.on>a {
        color: #503396;
        border-top: 1px solid #503396;
        border-left: 1px solid #503396;
        border-right: 1px solid #503396;
        border-bottom: 1px solid white;
    }


    .searchBar {
        display: flex;
        padding-left: 14vw;
        padding-right: 14vw;
        margin-top: 40px;
        margin-bottom: 15px;
        min-width: 1157.78px;
        justify-content: space-between;
    }

    .searchBar p {
        margin-top: 0;
        margin-bottom: 0;
        height: 18px;
    }

    .searchBarIn {
        display: flex;
        background-color: lavenderblush;
        justify-content: flex-start;
    }

    .onair-condition .btn-onair {
        display: block;
        padding: 0 0 0 30px;
        background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-on-air.png) no-repeat 0 2px;
        box-shadow: none;
        border: none;
        justify-content: flex-start;
        float: left;
    }

    .flo {
        float: left;
        margin-left: 20px;
    }

    .onair-condition .btn-onair.on {
        background-position: 0 -17px;
    }

    .movie-search {
        height: 18px;
        display: flex;
        position: relative;
        align-items: flex-end;
        width: 220px;
        min-width: 220px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-right: 0px solid;
    }

}


/* 최하단 영화 목록 */
.movList {
    display: flex;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 30px;
    flex-wrap: wrap;
}

.movList ol {
    margin: 0px;
    display: flex;
}

.movList ol li {
    list-style: none;
    float: left;
    overflow: hidden;
    min-width: 230px;

}

.movieRank {
    padding: 0px;

}

@media (max-width:1920px) {
    .movieRank li {
        width: 300px;
        padding-left: 80px;
    }

    .movieInfo img {
        min-width: 270px;
        height: 350px;
    }
}


@media (max-width:1680px) {
    .movieRank li {
        width: 230px;
        padding-left: 80px;
    }

    .movieInfo img {
        min-width: 230px;
        height: 340px;
    }
}

/* 영화 설명*/

.tit-area{
    margin-top: 2px;
    display: flex;
    padding-bottom: 3px;
}

.tit{
    margin: 0px;
    margin-left: 10px;
    
    font-size: 20px;
    width: 207px;
}

.openDate{
    margin-bottom: 5px;
    font-size: 16px;
}

.openDate span:nth-child(2){
    margin-left: 4px;
}

/* 연령제한 */
.movie-grade {
    overflow: hidden;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-grade.age-all {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-all.png);
}

.movie-grade.age-12 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-12.png);
}
.movie-grade.age-15 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-15.png);
}
.movie-grade.age-19{
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/txt-age-19.png);
}
